/* @import url('https://fonts.googleapis.com/css?family=Lato'); */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
body{
    font-family: 'Noto Sans', 'sans-serif';
    margin: 100;
    padding: 0}

canvas{
    border: 1px solid black;
    background: rgb(230, 230,230)
}